*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(to bottom, rgba(15, 15, 16, 0.52), rgba(6, 5, 5, 0.73)),url("./images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
}
header{
    padding: 26px 56px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header a.logo{
    display: block;
}
header .logo svg{
    fill: #e50914;
    height: 37px;

}

header div+div{
    text-align: right;
}

header a.button{
    display: inline-block;    background-color: #e50914;
    color: white;
    text-decoration: none;
    padding: 7px 17px;
    border-radius: 3px;
}

header select{
    padding: 7px 17px;
    border-radius: 3px;
}
.middle{
    width: 45rem;
    height: 60%;
    /* background: #e50914; */
    margin: 0 auto;
    margin-top: 10%;
    color: white;
    font-size: 2.3rem;
}

.middle .info{
    text-align: center;
}
.middle p{
    padding-top: 1rem;
    font-size: 2rem;
}

.middle .get-start{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10rem;
}

.getstart{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.get-start p{
    text-align: center;
    font-size: 1.3rem;
}


.get-start div{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;    
    height: 14rem;
    
    
}

.get-start div input{
    width: 75%;
    height: 3.5rem;
    font-size: 1rem;
    padding-left: 1rem;
    border: none;
    
}
.get-start div button{
    height: 3.5rem;
    width: 25%;
    background: #e50914;
    text-align: left;
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
}

.section1{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    padding: 4rem 4rem;
    background-color: black;
    color: white;
    border-top: 0.5rem solid gray;
}

.section1 .enjoy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
}

.media-s1{
    width: 100%;
    height: 100%;
    position: relative;
}

.section1-img{
    margin-left: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    
    
}
.section1-img img{
width: 100%;
height: 100%;
z-index: 10;
position: relative;

}

.section1-video{
    position:absolute;
    width: 100%;
    height: 55%;
    top: 20%;
    left: 10%;
}

.section1-video video{
    width: 100%;
    height: 100%;
}

.section-2{
    width: 100%;
    height: 75vh;
    border-top: 8px solid gray;
    display: flex;
    flex-direction: row;
    background-color:black;

}
.phone-anime{
    width: 100%;
    height: 100%;
    position: relative;
}
.section-2 .section-2-img{
    position: relative;
    width: 80%;
    height: 100%;
}
.section-2 .section-2-img img{
    width: 100%;
}
.download-box{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: black;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow:0px 0px 50px 1px #8888 ;
    position: absolute;
    bottom: 11rem;
    left: 6.5rem;
}

.download-box .name {
    color: white;
    width: 100%;
    margin-left: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}
.download-box .name span{
    font-weight: 400;
    color: blue;
}
.download-box .anime img{
    width: 3rem;
}

.download-box .box-img{
    width: 20%;
    height: 100%;
}
.download-box .box-img img{
    width: 100%;
    height: 100%;
}



.download-text{
    color: white;
    width: 100%;
    height: 100%;
    padding: 8rem;
    margin-left: 3rem;
    font-size: 2rem;
}

.section-3{
    font-size: 1.2rem;
    width: 100%;
    height: 40vh;
    border-top: 8px solid gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 4rem;
    background-color: black;
    color: white;
}

.section-4{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 8rem;
    background-color: black;
    border-top: 8px solid gray;
}
.kid-img{
    width: 100%;
    height: 100%;
}
.kid-img img{
    width: 80%;
    height: 90%;
}

.kid-text{
    width: 100%;
    font-size:1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 3rem;
}

.kid-text p{
    font-size: 20px;
}

.section-5{
    padding: 4rem 30px;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    border-top: 8px solid gray;
    text-align: center;

}

.section-5 h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;

}

.section-5 .questions{

    width: 60%;
    margin: 0 auto;
    
}
.question{
    background-color: #303030;
    width: 100%;
    height: 6%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.question .header{
display: flex;
height: 3rem;
align-items: center;
justify-content: space-between;
padding: 15px 30px;
cursor: pointer;
}
.question .content{
    text-align: left;
    padding: 20px 30px;
    border-top: 1px solid #000;
    display: none;
}

.expand-icon{
    font-size: 20px;
}

.expanded .content{
    display: block;
}

.end-getstart{
    margin:auto;
    margin-top:2rem;
    width: 50%;
    height: 8rem;
}

.footer{
    padding: 4rem;
    border-top: 8px solid gray;
    width: 100%;
    height: 45vh;
    color: gray;
    background-color: #000;
}
.outer{
text-decoration: none;
color: gray;
width: 80%;
display: block;
margin: auto;

}

.grid-container{
    width: 80%;
    margin: auto;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 1rem;
}

.grid-container a{
    text-decoration: none;
    color: gray;
    justify-content: center;
    font-size: 12px;
}



@media screen and (max-width:1200px) {
    .middle .get-start{
        width: 70%;
        margin: 0 auto;
    }
    .get-start div{
        display: flex;
        flex-direction: column;
        
        align-items: center;
    }
    .get-start div input{
        width: 100%;
        height: 3.5rem;
        font-size: 1rem;
        padding-left: 1rem;
        border: none;
        border-radius: 2px;
    }
    .get-start div button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        height: 2.5rem;
        width: 25%;
        background: #e50914;
        text-align: left;
        font-size: 1rem;
        font-weight: 500;
        border: none;
        color: white;
        border-radius: 2px;
    }
    .section1{
        display: flex;
        flex-direction: column;
        height: 80%;
        text-align: center;
        padding: 4rem 2rem;
    }
    .section1-img{
        margin: auto;
        padding: 0;
        background-color: #e50914;
    }
    .section1-video{
        position:absolute;
        width: 100%;
        height: 55%;
        top: 20.5%;
        left:-0.6%;
    }
    .section-2{
        display: flex;
        flex-direction: column-reverse;
        height: 90vh;
        margin: auto;
    }
    .section-2 p{
        font-size: 20px;
    }
    .download-text{
        text-align: center;
        color: white;
        width: 100%;
        height: 100%;
        padding: 3.4rem;
        padding-bottom: 0;
        font-size: 1.5rem;
        margin: auto;
    }
    .phone-anime{
        margin: auto;
        
        display: flex;
        justify-content: center;
    }
    .download-box{
        position: absolute;
        bottom: 5rem;
        left: 12.5rem;
    }
    .section-3{
        margin: auto;
        text-align: center;
        padding: 2rem;
    }

    .section-4{
        display: flex;
        flex-direction:column-reverse;
        height: 90vh;
        padding: 2rem;
        text-align: center;
    }
    
    .section-5 .questions{
        width: 85%;
        margin: 0 auto;
        font-size: 1.5rem;
    }
    .end-getstart{
        margin:auto;
        margin-top:2rem;
        width: 70%;
    }
    .grid-container{
        gap: 2px;
        width: 95%;
        gap: 1rem;
    }
    .outer{
        width: 95%;
    }
}